{"openapi":"3.1.0","info":{"title":"Qase Read API (for Pulse)","version":"1.0.0","description":"Read surface of Qase — the autonomous QA agent — for external analytics agents (Drytis Pulse).\n\nEvery operation here is GET; nothing in this document mutates state.\n\nCollections answer `{ data, total, page, page_size }` when `page`/`page_size` are sent;\nwithout them the legacy array shape is returned. Timestamps are ISO 8601 UTC.\nForeign ids carry human-readable names beside them (project_name, mission_name, session_title).\n\nExcluded from this document by design:\n- /api/sessions/{id}/events — SSE stream, never terminates (would hang the agent).\n- /api/artifacts/{runId}/{filename} — binary file, not JSON.\n- export endpoints (/api/findings/export, /api/test-cases/export, mission reports) — file attachments.\n- /api/v1/integration/* — per-request HMAC signing; a pull connector cannot sign.\n- All POST/PUT/PATCH/DELETE operations — the connector only ever calls GET."},"servers":[{"url":"https://pulse-review-workspa-6grhjr.drytis.dev"}],"paths":{"/api/v2/health":{"get":{"operationId":"health","summary":"Liveness check.","tags":["Meta"],"parameters":[],"security":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["ok"]},"uptime":{"type":"integer","description":"Server uptime in seconds."},"project":{"type":"string"}}}}}}}}},"/api/v2/projects":{"get":{"operationId":"list_projects","summary":"All projects (single-tenant instance; a small bounded collection).","tags":["Projects"],"parameters":[],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/missions":{"get":{"operationId":"list_missions","summary":"Missions, filterable by status, type, source, project and date range.","tags":["Missions"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"status","in":"query","description":"Only this status.","schema":{"type":"string","enum":["created","queued","running","completed","failed","aborted","cancelled","timeout","interrupted"]}},{"name":"type","in":"query","description":"Only this mission type.","schema":{"type":"string","enum":["full_audit","security","ux","regression","feature_gap","accessibility"]}},{"name":"source","in":"query","description":"Creation origin.","schema":{"type":"string","enum":["manual","ai_studio","ci_cd","api","integration"]}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Mission"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/missions/{id}":{"get":{"operationId":"get_mission","summary":"One full mission record by id.","tags":["Missions"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mission"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/mission-summaries":{"get":{"operationId":"list_mission_summaries","summary":"Mission summaries plus queue depth and execution-governor stats.","tags":["Missions"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"status","in":"query","description":"Only this status.","schema":{"type":"string","enum":["created","queued","running","completed","failed","aborted","cancelled","timeout","interrupted"]}},{"name":"type","in":"query","description":"Only this mission type.","schema":{"type":"string","enum":["full_audit","security","ux","regression","feature_gap","accessibility"]}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Mission"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/mission-status/{id}":{"get":{"operationId":"get_mission_status","summary":"Lightweight mission status and quality snapshot (lazy-finalizing).","tags":["Missions"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mission"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/sessions":{"get":{"operationId":"list_sessions","summary":"Test sessions, filterable by project and date range.","tags":["Sessions"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Session"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/sessions/{id}":{"get":{"operationId":"get_session","summary":"One session summary by id (counts; heavy arrays only with full=1).","tags":["Sessions"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."},{"name":"summary","in":"query","description":"summary=1 strips heavy arrays from the payload.","schema":{"type":"string","enum":["1"]}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/findings":{"get":{"operationId":"list_findings","summary":"Findings (bugs), filterable by severity, status, lifecycle, review state, project, mission, session, text and date range.","tags":["Findings"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"severity","in":"query","description":"Only this severity.","schema":{"type":"string","enum":["critical","high","medium","low","info"]}},{"name":"status","in":"query","description":"Legacy workflow status.","schema":{"type":"string","enum":["open","in_testing","resolved","closed"]}},{"name":"finding_status","in":"query","description":"Lifecycle status (Phase 16).","schema":{"type":"string","enum":["DETECTED","VERIFYING","VERIFIED","CLASSIFIED","TRIAGED","REPORTED","FALSE_POSITIVE","DUPLICATE","INCONCLUSIVE","UNREPRODUCIBLE","RESOLVED","REOPENED"]}},{"name":"review_status","in":"query","description":"Human review state.","schema":{"type":"string","enum":["unreviewed","confirmed","false_positive","duplicate","needs_info"]}},{"name":"priority","in":"query","description":"Triage priority.","schema":{"type":"string","enum":["P0","P1","P2","P3","UNTRIAGED"]}},{"name":"primary_category","in":"query","description":"Normalized category.","schema":{"type":"string","enum":["FUNCTIONAL","UI","UX","VISUAL","API","SECURITY","PERFORMANCE","ACCESSIBILITY","DATA","AUTHENTICATION","AUTHORIZATION","NAVIGATION","COMPATIBILITY","MOBILE","REGRESSION","FEATURE_GAP","INFRASTRUCTURE","AI_BEHAVIOR","COMPLIANCE","UNKNOWN"]}},{"name":"reproducibility","in":"query","description":"Reproduction reliability.","schema":{"type":"string","enum":["REPRODUCIBLE","INTERMITTENT","UNREPRODUCIBLE","UNKNOWN"]}},{"name":"mission_id","in":"query","description":"Only records from this mission.","schema":{"type":"string"}},{"name":"session_id","in":"query","description":"Only this session.","schema":{"type":"string"}},{"name":"q","in":"query","description":"Substring match on title/category/url/expected/actual.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Finding"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/findings/{id}":{"get":{"operationId":"get_finding","summary":"One finding by id.","tags":["Findings"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Finding"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/findings/stats":{"get":{"operationId":"get_finding_stats","summary":"Finding counts by status, severity, lifecycle, review state and priority, plus duplicate count.","tags":["Findings"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["total"],"properties":{"total":{"type":"integer"},"by_status":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."},"by_severity":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."},"by_finding_status":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."},"by_review_status":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."},"by_priority":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."},"duplicates":{"type":"integer"}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/findings/grouped":{"get":{"operationId":"get_findings_grouped","summary":"Findings grouped by one dimension (category, severity, priority, workflow, feature or risk).","tags":["Findings"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"group_by","in":"query","description":"Dimension to group by (required).","schema":{"type":"string","enum":["category","severity","priority","workflow","feature","risk"]}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"group_by":{"type":"string","enum":["category","severity","priority","workflow","feature","risk"]},"canonical_count":{"type":"integer"},"duplicate_count":{"type":"integer"},"groups":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"count":{"type":"integer"},"severity_breakdown":{"type":"object","additionalProperties":{"type":"integer"},"description":"Key -> count."}}}}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/test-cases":{"get":{"operationId":"list_test_cases","summary":"Test cases, filterable by project, workflow, suite, tag and date range.","tags":["TestCases"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"workflow_id","in":"query","description":"Only cases from this workflow.","schema":{"type":"string"}},{"name":"suite_id","in":"query","description":"Only cases in this suite.","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Only cases with this tag.","schema":{"type":"string"}},{"name":"target_url","in":"query","description":"Only cases for this target URL.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TestCase"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/test-cases/{id}":{"get":{"operationId":"get_test_case","summary":"One test case by id.","tags":["TestCases"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestCase"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/test-cases/tags":{"get":{"operationId":"list_test_case_tags","summary":"Distinct test case tags, alphabetical.","tags":["TestCases"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"type":"string"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/workflows":{"get":{"operationId":"list_workflows","summary":"Saved browser workflows, filterable by project, target URL and date range.","tags":["Workflows"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"target_url","in":"query","description":"Only workflows for this target URL.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Workflow"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/workflows/{id}":{"get":{"operationId":"get_workflow","summary":"One workflow (with its steps) by id.","tags":["Workflows"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workflow"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/suites":{"get":{"operationId":"list_suites","summary":"Test suites (small bounded tree; typically fewer than 50 rows).","tags":["Suites"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Suite"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/schedules":{"get":{"operationId":"list_schedules","summary":"Regression schedules with next/last run metadata (bounded collection).","tags":["Schedules"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Schedule"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/schedules/{id}/runs":{"get":{"operationId":"list_schedule_runs","summary":"Regression runs of one schedule, newest first.","tags":["Schedules"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Schedule id."},{"name":"from","in":"query","description":"ts >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"ts < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RegressionRun"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/regression/runs":{"get":{"operationId":"list_regression_runs","summary":"Regression runs, filterable by project, schedule, target URL and date range.","tags":["Regression"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"schedule_id","in":"query","description":"Only runs of this schedule.","schema":{"type":"string"}},{"name":"target_url","in":"query","description":"Only runs against this target URL.","schema":{"type":"string"}},{"name":"from","in":"query","description":"ts >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"ts < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RegressionRun"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/regression/runs/{id}":{"get":{"operationId":"get_regression_run","summary":"One regression run by id (per-test results included).","tags":["Regression"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegressionRun"}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/regression/trend":{"get":{"operationId":"get_regression_trend","summary":"Chronological pass-rate trend over recent regression runs.","tags":["Regression"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"schedule_id","in":"query","description":"Trend for one schedule.","schema":{"type":"string"}},{"name":"target_url","in":"query","description":"Trend for one target URL.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Number of recent runs (default 20).","schema":{"type":"integer","default":20,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendPoint"}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/fix-validations":{"get":{"operationId":"list_fix_validations","summary":"Fix-validation runs with aggregate metrics.","tags":["FixValidation"],"parameters":[{"name":"fix_status","in":"query","description":"Only this fix outcome.","schema":{"type":"string","enum":["VERIFIED_FIXED","STILL_BROKEN","PARTIALLY_FIXED","REGRESSED","UNABLE_TO_VERIFY"]}},{"name":"from","in":"query","description":"created_at >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"created_at < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FixValidationRun"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/findings/{id}/validation":{"get":{"operationId":"get_finding_validation","summary":"Fix-validation history for one finding.","tags":["FixValidation"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Finding id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"latest":{"$ref":"#/components/schemas/FixValidationRun"},"history":{"type":"array","items":{"$ref":"#/components/schemas/FixValidationRun"}},"metrics":{"type":"object","additionalProperties":true,"description":"Aggregate fix-validation metrics."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/knowledge":{"get":{"operationId":"list_knowledge_patterns","summary":"Learned knowledge patterns with aggregate stats.","tags":["Knowledge"],"parameters":[{"name":"from","in":"query","description":"last_seen >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"last_seen < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/KnowledgePattern"}},"total":{"type":"integer","description":"Total matching rows, ignoring paging."},"page":{"type":"integer","description":"Current 1-based page."},"page_size":{"type":"integer","description":"Rows per page (max 500)."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/knowledge/{id}":{"get":{"operationId":"get_knowledge_pattern","summary":"One knowledge pattern with full provenance.","tags":["Knowledge"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Record id."}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"Pattern record with sourceMissions, validations and contradictions provenance."}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/metrics/dashboard":{"get":{"operationId":"get_dashboard_metrics","summary":"Cross-entity dashboard metrics: sessions, findings, test cases, regression, fix-validations, UX.","tags":["Metrics"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"Nested metric blocks (sessions, findings, testCases, regression, fixValidations, uxAssessments)."}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/metrics/ux":{"get":{"operationId":"get_ux_metrics","summary":"UX assessment counters (runs, sweep failures, latency totals).","tags":["Metrics"],"parameters":[],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"assessments_run":{"type":"integer"},"sweep_failures":{"type":"integer"},"sweep_duration_ms_total":{"type":"integer","description":"Total sweep duration in milliseconds."},"assessment_latency_ms_total":{"type":"integer","description":"Total assessment latency in milliseconds."},"last_duration_ms":{"type":"integer","nullable":true,"description":"Last assessment duration in milliseconds."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/usage/summary":{"get":{"operationId":"get_usage_summary","summary":"Time-bucketed QA activity (missions, findings, fix-validations, regression runs) with source/status mixes. Derived from persisted records; empty buckets are zeros.","tags":["Usage"],"parameters":[{"name":"project_id","in":"query","description":"Only this project.","schema":{"type":"string"}},{"name":"from","in":"query","description":"records >= this date (inclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"records < this date (exclusive). Format YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"bucket","in":"query","description":"Bucket granularity. Default day.","schema":{"type":"string","enum":["day","hour"],"default":"day"}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["window","totals","buckets"],"properties":{"window":{"type":"object","properties":{"from":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"to":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"bucket":{"type":"string","enum":["day","hour"]}}},"totals":{"type":"object","description":"Record counts inside the window.","properties":{"missions_created":{"type":"integer"},"missions_completed":{"type":"integer"},"findings_reported":{"type":"integer"},"fix_validations":{"type":"integer"},"regression_runs":{"type":"integer"}}},"mission_source_mix":{"type":"object","additionalProperties":{"type":"integer"},"description":"Missions by creation origin (api, integration, …)."},"mission_status_mix":{"type":"object","additionalProperties":{"type":"integer"},"description":"Missions by terminal/interim status."},"buckets":{"type":"array","items":{"type":"object","properties":{"bucket":{"type":"string","description":"Day (YYYY-MM-DD) or hour (YYYY-MM-DDTHH:00:00Z) key, UTC."},"missions_created":{"type":"integer"},"missions_completed":{"type":"integer"},"findings_reported":{"type":"integer"},"fix_validations":{"type":"integer"},"regression_runs":{"type":"integer"}}}}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/metrics/api-usage":{"get":{"operationId":"get_api_usage","summary":"Request traffic on this API itself: authenticated /api/v2 calls per day, by endpoint template. Counts begin at telemetry deployment (see `since`); there is no historical backfill.","tags":["Usage"],"parameters":[{"name":"page","in":"query","description":"1-based page number.","schema":{"type":"integer","minimum":1,"default":1}},{"name":"page_size","in":"query","description":"Rows per page. Values above 500 are clamped to 500.","schema":{"type":"integer","minimum":1,"default":100,"maximum":500}}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","total","page","page_size","since"],"properties":{"data":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","description":"UTC day key (YYYY-MM-DD)."},"total":{"type":"integer"},"endpoints":{"type":"object","additionalProperties":{"type":"integer"},"description":"Request counts keyed by path template (e.g. /missions)."}}}},"total":{"type":"integer"},"page":{"type":"integer"},"page_size":{"type":"integer"},"since":{"type":"string","nullable":true,"description":"ISO timestamp when counting began; data before this does not exist."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/api/v2/bug-taxonomy":{"get":{"operationId":"get_bug_taxonomy","summary":"All closed value sets: categories, severities, priorities, lifecycle, review states, root causes, risks.","tags":["Meta"],"parameters":[],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string","enum":["FUNCTIONAL","UI","UX","VISUAL","API","SECURITY","PERFORMANCE","ACCESSIBILITY","DATA","AUTHENTICATION","AUTHORIZATION","NAVIGATION","COMPATIBILITY","MOBILE","REGRESSION","FEATURE_GAP","INFRASTRUCTURE","AI_BEHAVIOR","COMPLIANCE","UNKNOWN"]}},"severities":{"type":"array","items":{"type":"string","enum":["critical","high","medium","low","info"]}},"priorities":{"type":"array","items":{"type":"string","enum":["P0","P1","P2","P3"]}},"lifecycle":{"type":"array","items":{"type":"string","enum":["DETECTED","VERIFYING","VERIFIED","CLASSIFIED","TRIAGED","REPORTED","FALSE_POSITIVE","DUPLICATE","INCONCLUSIVE","UNREPRODUCIBLE","RESOLVED","REOPENED"]}},"review_statuses":{"type":"array","items":{"type":"string","enum":["unreviewed","confirmed","false_positive","duplicate","needs_info"]}},"reproducibilities":{"type":"array","items":{"type":"string","enum":["REPRODUCIBLE","INTERMITTENT","UNREPRODUCIBLE","UNKNOWN"]}},"root_causes":{"type":"array","items":{"type":"string"}},"risks":{"type":"array","items":{"type":"string"}},"lifecycle_transitions":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"description":"Legal lifecycle status transitions."}}}}}},"400":{"description":"Bad request (e.g. invalid date filter).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"401":{"description":"Missing or invalid Bearer token.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"404":{"description":"Record not found.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}}},"tags":[{"name":"Meta","description":"Instance metadata and taxonomies."},{"name":"Projects","description":"Projects (top-level containers)."},{"name":"Missions","description":"Autonomous audit missions and their execution state."},{"name":"Sessions","description":"Individual agent test sessions."},{"name":"Findings","description":"Bugs and issues detected by missions."},{"name":"TestCases","description":"Generated and regression test cases."},{"name":"Workflows","description":"Saved browser workflows."},{"name":"Suites","description":"Test suite tree."},{"name":"Schedules","description":"Cron regression schedules and their runs."},{"name":"Regression","description":"Scheduled regression runs and trends."},{"name":"Usage","description":"Activity/usage aggregates and QASE API request telemetry."},{"name":"FixValidation","description":"Fix-validation runs and outcomes."},{"name":"Knowledge","description":"Learned patterns with confidence decay."},{"name":"Metrics","description":"Dashboard and UX metrics."}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Long-lived API token (QASE_API_TOKEN). Read-only in practice: nothing documented here mutates state."}},"schemas":{"Project":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string","description":"Human-readable project name."},"base_url":{"type":"string","description":"Primary target base URL for this project."},"workspace_id":{"type":"string","description":"Owning workspace id, when workspaces are in use."},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"Mission":{"type":"object","required":["id","name","status","type","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string","description":"Human-readable mission name."},"status":{"type":"string","enum":["created","queued","running","completed","failed","aborted","cancelled","timeout","interrupted"],"description":"Lifecycle status."},"type":{"type":"string","enum":["full_audit","security","ux","regression","feature_gap","accessibility"],"description":"What kind of audit this mission runs."},"source":{"type":"string","enum":["manual","ai_studio","ci_cd","api","integration"],"description":"How the mission was created."},"project_id":{"type":"string","description":"Owning project id."},"project_name":{"type":"string","description":"Owning project name (joined; absent when the project was deleted)."},"target_url":{"type":"string","description":"Site under test."},"session_id":{"type":"string","description":"Current/last execution session id, when linked."},"quality_score":{"type":"integer","minimum":0,"maximum":100,"description":"Overall quality score set on completion."},"verdict":{"type":"string","enum":["pass","pass_with_issues","fail"],"description":"Final verdict, once completed."},"release_ready":{"type":"boolean","description":"Release-readiness flag set on completion."},"iteration_count":{"type":"integer","description":"Validation-loop iterations recorded."},"failure_reason":{"type":"string"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]}}},"Session":{"type":"object","required":["id","title","status","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"title":{"type":"string","description":"Human-readable session title."},"status":{"type":"string","enum":["idle","running","awaiting_input","done","error","interrupted"],"description":"Session lifecycle status."},"project_id":{"type":"string","description":"Owning project id, when set."},"project_name":{"type":"string","description":"Owning project name (joined)."},"target_url":{"type":"string","description":"Site under test."},"mission_id":{"type":"string","description":"Mission this session executes, when linked."},"mission_name":{"type":"string","description":"Linked mission name (joined)."},"finding_count":{"type":"integer"},"message_count":{"type":"integer"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"Finding":{"type":"object","required":["id","title","severity","created_at"],"properties":{"id":{"type":"string","description":"Stable finding id (sfnd_… or UUID)."},"title":{"type":"string"},"severity":{"type":"string","enum":["critical","high","medium","low","info"],"description":"Agent-assigned severity."},"status":{"type":"string","enum":["open","in_testing","resolved","closed"],"description":"Legacy workflow status."},"finding_status":{"type":"string","enum":["DETECTED","VERIFYING","VERIFIED","CLASSIFIED","TRIAGED","REPORTED","FALSE_POSITIVE","DUPLICATE","INCONCLUSIVE","UNREPRODUCIBLE","RESOLVED","REOPENED"],"description":"Lifecycle status (Phase 16)."},"review_status":{"type":"string","enum":["unreviewed","confirmed","false_positive","duplicate","needs_info"],"description":"Human review state."},"priority":{"type":"string","enum":["P0","P1","P2","P3","UNTRIAGED"],"description":"Triage priority (UNTRIAGED when unset)."},"primary_category":{"type":"string","enum":["FUNCTIONAL","UI","UX","VISUAL","API","SECURITY","PERFORMANCE","ACCESSIBILITY","DATA","AUTHENTICATION","AUTHORIZATION","NAVIGATION","COMPATIBILITY","MOBILE","REGRESSION","FEATURE_GAP","INFRASTRUCTURE","AI_BEHAVIOR","COMPLIANCE","UNKNOWN"],"description":"Normalized bug category."},"secondary_categories":{"type":"array","items":{"type":"string","enum":["FUNCTIONAL","UI","UX","VISUAL","API","SECURITY","PERFORMANCE","ACCESSIBILITY","DATA","AUTHENTICATION","AUTHORIZATION","NAVIGATION","COMPATIBILITY","MOBILE","REGRESSION","FEATURE_GAP","INFRASTRUCTURE","AI_BEHAVIOR","COMPLIANCE","UNKNOWN"]},"maxItems":3},"reproducibility":{"type":"string","enum":["REPRODUCIBLE","INTERMITTENT","UNREPRODUCIBLE","UNKNOWN","confirmed","unconfirmed","intermittent"]},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"Deterministic evidence-based confidence score."},"url":{"type":"string","description":"Where the bug was observed."},"expected":{"type":"string"},"actual":{"type":"string"},"observed":{"type":"string"},"impact":{"type":"string"},"recommendation":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"session_id":{"type":"string"},"session_title":{"type":"string","description":"Linked session title (joined)."},"mission_id":{"type":"string"},"mission_name":{"type":"string","description":"Linked mission name (joined)."},"is_duplicate":{"type":"boolean"},"duplicate_of":{"type":"string","description":"Canonical finding id when this record is a duplicate."},"test_case_ids":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"TestCase":{"type":"object","required":["id","name","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"workflow_id":{"type":"string","description":"Workflow the case was generated from."},"suite_id":{"type":"string","description":"Suite the case belongs to."},"target_url":{"type":"string"},"severity":{"type":"string","enum":["critical","high","medium","low","info"]},"step_count":{"type":"integer","description":"Number of recorded steps."},"assertion_count":{"type":"integer","description":"Number of recorded assertions."},"tags":{"type":"array","items":{"type":"string"}},"has_baselines":{"type":"boolean","description":"Whether visual baselines exist for this case."},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"last_run":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]}}},"Workflow":{"type":"object","required":["id","name","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"target_url":{"type":"string"},"step_count":{"type":"integer"},"tags":{"type":"array","items":{"type":"string"}},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"Suite":{"type":"object","required":["id","name","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"parent_id":{"type":"string","description":"Parent suite id for tree structures."},"description":{"type":"string"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"Schedule":{"type":"object","required":["id","name","cron_expr","created_at"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"name":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"target_url":{"type":"string"},"cron_expr":{"type":"string","description":"Five-field cron expression (UTC)."},"enabled":{"type":"boolean"},"test_case_count":{"type":"integer","description":"Number of test cases in the schedule."},"last_run":{"type":"object","properties":{"ts":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"result":{"type":"string"},"summary":{"type":"string"}}},"next_run":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"RegressionRun":{"type":"object","required":["id","ts","total","passed"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"schedule_id":{"type":"string"},"schedule_name":{"type":"string","description":"Owning schedule name (joined)."},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"target_url":{"type":"string"},"trigger":{"type":"string"},"total":{"type":"integer","description":"Test cases executed."},"passed":{"type":"integer"},"failed":{"type":"integer"},"errored":{"type":"integer"},"flaky":{"type":"integer"},"pass_rate":{"type":"integer","minimum":0,"maximum":100,"description":"passed/total as a percentage (0-100)."},"duration_ms":{"type":"integer","description":"Wall-clock duration in milliseconds."},"ts":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."}}},"FixValidationRun":{"type":"object","required":["id","finding_id","status","created_at"],"properties":{"id":{"type":"string","description":"Fix-validation run id (fxv_…)."},"finding_id":{"type":"string","description":"Finding under validation."},"finding_title":{"type":"string","description":"Snapshot title of the finding under validation."},"mission_id":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string","description":"Owning project name (joined)."},"status":{"type":"string","enum":["REQUESTED","QUEUED","RUNNING","COMPLETED","FAILED","CANCELLED"],"description":"Run lifecycle."},"fix_status":{"type":"string","enum":["VERIFIED_FIXED","STILL_BROKEN","PARTIALLY_FIXED","REGRESSED","UNABLE_TO_VERIFY"],"description":"Deterministic fix outcome once completed."},"review_state":{"type":"string","enum":["AUTO_VALIDATED","REVIEW_REQUIRED","APPROVED","REJECTED","REOPENED"],"description":"Human review state of the run."},"validation_confidence":{"type":"number","minimum":0,"maximum":1},"trigger":{"type":"string"},"requested_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"updated_at":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"completed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]}}},"KnowledgePattern":{"type":"object","required":["id","pattern","confidence"],"properties":{"id":{"type":"string","description":"Stable record id (UUID unless prefixed)."},"pattern":{"type":"string","description":"The learned assertion/pattern text."},"category":{"type":"string"},"status":{"type":"string","enum":["active","inactive","contradicted"]},"confidence":{"type":"number","minimum":0,"maximum":1,"description":"Current confidence after decay/validation."},"occurrences":{"type":"integer"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"last_seen":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]}}},"TrendPoint":{"type":"object","required":["ts","total","passed","failed"],"properties":{"ts":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp."},"total":{"type":"integer"},"passed":{"type":"integer"},"failed":{"type":"integer"},"errored":{"type":"integer"},"flaky":{"type":"integer"},"pass_rate":{"type":"integer","minimum":0,"maximum":100}}}}}}